<!-- $event is the event itself. The event binding (someevent) allows to bind to DOM events and to EventEmitter events. 
  The syntax is exactly the same. For DOM events $event is the MouseEvent , KeyboardEvent , or the event value of the type of whatever event you listen to. -->
<filter-textbox (changed)="filterHandle($event)"></filter-textbox>
<br />
<br />
<table class="table table-hover">
  <thead>
    <tr>
      <th (click)="sortHandle('name')">Name</th>
      <th (click)="sortHandle('city')">City</th>
      <th (click)="sortHandle('orderTotal')">Order Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cust of filteredCustomers">
      <td>
        <!-- some pipe is default also can be customize -->
        <!-- this one is the way if you want to manipulate showen data the method name is pipe -->
        <!-- <a>{{ cust.name | titlecase }}</a> -->
        <a>{{ cust.name | Capitalize }}</a>
      </td>
      <td>{{ cust.city }}</td>

      <!-- currency is default pipe for give currency like a dollar, and than the parameter for currency code, and than 2 type of printing 'code' and 'symbol' -->
      <td>{{ cust.orderTotal | currency : currencyCode : "symbol" }}</td>
    </tr>
    <tr *ngIf="filteredCustomers && filteredCustomers.length">
      <td colspan="2">&nbsp;</td>
      <td>{{ customersOrderTotal | currency : currencyCode : "symbol" }}</td>
    </tr>
    <tr *ngIf="!filteredCustomers || filteredCustomers.length">
      <td colspan="4">No customer found</td>
    </tr>
  </tbody>
</table>
Number of customer : {{ filteredCustomers.length }}
